<div class="container-main">

  <main>
    <div class="cd-scrolling-bg cd-color-yellow">

    </div>
    <div class="cd-fixed-bg cd-bg-1">
      <!-- <div class="row">

    <div class="leftLink"><a href="#/properties">Our Properties</a></div>

    <div class="centerLink"><a href="#/services">Our Services</a></div>

     <div class="rightLink"><a href="#/contact">Contact</a></div>

    </div> -->
      <center>
        <div class="cd-container">

          <!-- <img src="img/logo-p2.png" id="main-title"> -->
      <!-- <center>
      <hr style="width: 40%;">
      </center>  -->
          <br><br>
          <h2 id="sub-title">Uplifting Neighborhoods One Apartment Community at a Time.</h2>

        </div>
      </center>
    </div>

      <div class="main-boxes">
        <div class="boxes-section">

            <div class="box-1">
              <h1> Relationships </h1>
              <hr>
              Something will go here that is, hopefully, about this many characters. Including this sentence, too.
            </div>

            <div class="box-2">
              <h1> Management </h1>
              <hr>
              Something will go here that is, hopefully, about this many characters. Including this sentence, too.
            </div>

            <div class="box-3">
              <h1> Development </h1>
              <hr>
              Something will go here that is, hopefully, about this many characters. Including this sentence, too.
            </div>

            <div class="box-4">
              <h1> Family </h1>
              <hr>
              Something will go here that is, hopefully, about this many characters. Including this sentence, too.
            </div>

            <div class="box-5">
              <h1> Community </h1>
              <hr>
              Something will go here that is, hopefully, about this many characters. Including this sentence, too.
            </div>

            <div class="box-6">
              <h1> Legacy </h1>
              <hr>
              Something will go here that is, hopefully, about this many characters. Including this sentence, too.
            </div>


      </div>
    </div>

    <section class="news cd-fixed-bg cd-bg-2">
      <p>IN THE NEWS:</p>
      <a target="_blank" href="http://www.dallasnews.com/opinion/commentary/2016/09/30/dallas-real-estate-developer-donating-cash-technology-programs-help-schools-poor-neighborhoods"><h3>"Dallas developer donating thousands to help schools in poor neighborhoods."</h3>
      <h4> - www.dallasnews.com </h4>
      READ MORE</a>
    </section>


    <br>
    <br>
  </main>
  <section class="comment">

    <p> "Regardless how much money someone makes, everyone deserves a nice place to live."</p>
    <br><h3> - Ruel Hamilton</h3>
  </section>
</div>


</div>
